

/* ********************* MEDIA QUERIES **************************** */

/* ********************* min 320 | max 375 **************************** */

@media (min-width: 320px) and (max-width: 375px) {

    .title {
        font-size: 3rem;
    }
    
    #logo {
        margin-bottom: 0;
    }
    
    .tagline {
        font-size: 0.75rem;
    }

    .burger {
        display: none;
    }

    .hiddenNavMenu {
        display: block !important;
        padding-right: 10vw;
        margin-top: -4vh;
        margin-bottom: 3vh;
    }

    .mainContainer {
        height: 25vh;
        margin-top: -4vh !important;
    }

    #slideshow {
        height: 30%;
    }

    .slide {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        height: 30%;
        margin-right: 20vw;
    }

    .reviews {
        font-size: 75%;
    }
}

/* ********************* min 376 | max 499 **************************** */

@media (min-width: 376px) and (max-width: 499px) {

    .mainContainer,
    #slideshow,
    .slide {
        padding-top: 5vh;
    }


    .dropdown-content {
        position: static;
        margin-left: -10vw;
        margin-top: -4vw;
        z-index: 9999;
        }

    .slide {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 50%;
    }

    .review1 {
        padding-top: 15vh;
    }
} 

/* ********************* min 500 | max 600 **************************** */

@media (min-width: 500px) and (max-width: 620px) {

    .mainContainer {
        height: 28vh;
    }

    p.white-text.tagline {
        padding: 0;
        font-size: 0.75rem;
        margin-left: 15vw;
    }

    .slide {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* height: 50%; */
        width: 30%;
        margin-top: -15vh;
    }

    .reviews {
        display: none;
    }

}

/* ********************* min 601 | max 700 **************************** */

@media (min-width: 601px) and (max-width: 700px) {

    .mainContainer {
        width: 60%;
        margin: 0 auto;
        height: 32vh;
    }

    p.white-text.tagline {
        padding: 0;
        font-size: 0.75rem;
        margin-left: 15vw;
    }

    .slide {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* height: 50%; */
        width: 30%;
        margin-top: -14vh;
    }

    .reviews {
        display: none;
    }

    .footer {
        margin-top: 3vh;
    } 
}

/* ********************* min 701 | max 750 **************************** */

@media (min-width: 701px) and (max-width: 750px) {

  p.white-text.tagline {
      margin-top: 2vh;
      font-size: 1rem;
      margin-left: 10vw;
      padding-top: 0;
  }

  .slide {
      display: flex;
      justify-content: center;
      margin: 0 auto;
      /* height: 50%; */
      width: 25%;
      margin-top: -11vh;
  }

  .review1{
      margin-top: -2vh;
  }

  .reviews {
      margin-top: -1vh;
      font-size: .75rem;
  }
}

   /* ********************* min 751 | max 800 **************************** */

   @media (min-width: 751px) and (max-width: 800px) {

    .slide {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* height: 50%; */
        width: 50%;
    }

    .review1 {
       margin-top: 20vh;
    }

  }

     /* ********************* min 801 | max 900 **************************** */

     @media (min-width: 801px) and (max-width: 900px) {

        .mainContainer {
            width: 60%;
            margin: 0 auto;
            margin-top: -12vh !important;
        }

        p.white-text.tagline {
            margin-top: 2vh;
            font-size: 1rem;
            margin-left: 10vw;
            padding-top: 0;
        }
      
        .slide {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            width: 25%;
        }
    
        .reviews {
           display: none;
        }

        .footer {
            position: static;
            margin-top: 20vh;
            margin-bottom: 0 !important;
    
      }
     }

  /* ********************* min 901 | ****** **************************** */

    @media (min-width: 901px) {

    .dropdown-content {
        position: static;
        margin-right: 1vw;
        margin-top: -4vw;
        z-index: 9999;
        }

    .mainContainer {
        width: 100% !important;
        height: 50vh !important;
    }

    .slide {
        display: flex;
        justify-content: center;
        margin: 0 auto;
        /* height: 50%; */
        width: 35%;
    }

    .review1 {
        margin-top: -2vh;
     }

  }

    /* ********************* min 1400 | ****** **************************** */

    @media (min-width: 1400px) {

        .dropdown-content {
            position: static;
            margin-right: 1vw;
            margin-top: -4vw;
            z-index: 9999;
            }

        .mainContainer {
            width: 100% !important;
            height: 50vh !important;
        }

        #slideshow {
            height: 50%;
        }

        .slide {
            display: flex;
            justify-content: center;
            margin: 0 auto;
            height: 50%;
        }

    }

    /* ********************* min 1600 | ****** **************************** */

    @media (min-width: 1600px) {

        .dropdown-content {
            position: static;
            margin-right: 1vw;
            margin-top: -4vw;
            z-index: 9999;
            }

        .mainContainer {
            width: 100% !important;
            height: 57vh !important;
        }
      }

     /* ********************* min height 375 **************************** */

     @media (min-height: 375px) {

        .mainContainer {
            margin: 0 auto;
            width: 60%;
            height: 30vh;
        }
      }

  /* ********************************************************** */
  /* ******************** MENUS ONLY ************************** */
  /* ********************************************************** */

  @media (min-width: 1345px) {

    .burger {
        display: none;
    }
  
  }

  @media (min-width: 0px) and (max-width: 1344px) {

    .navMenu {
        display: none;
    }

  }
